.headerContainer {
  margin-top: 20rem;
  height: 8rem;
}

.headerContent {
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.4rem;

    a {
      cursor: pointer;
      color: #00ff75;
      // background-image: linear-gradient(to right, #00ff75, #0dcaf0);
      // background-clip: text;
      // -webkit-text-fill-color: transparent;
    }
  }

  nav {
    margin-left: 5rem;
    height: 4rem;
    display: flex;
    align-items: center;

    a {
      padding: 0 0.5rem;
      color: var(--gray-100);
      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        background-image: linear-gradient(to right, #00ff75, #0dcaf0);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 1160px) {
  .headerContent {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .headerContainer {
    height: 11rem;
    margin: 2rem 0;
  }

  .headerContent {
    display: flex;
    flex-direction: column;

    nav {
      margin: 30px auto 0px;
    }
  }
}
